body{
    margin: 0;
    padding: 0;
    background-color: #FFC726;
    ;
}
.header{
    width: 100%;
    height: fit-content;
    background-color: purple;
}
.nama-quiz{
    margin: auto;
    width: fit-content;
}
.nama-quiz img{
    height: 100px;
}

.main{
    margin: 3% 5% 0 10%;
    height:fit-content ;
    display: flex;
    flex-wrap: nowrap;
}
.main .congrats{
    width: 100%;
    text-align: center;
    font-size: 30px;
}
.result{
    width: 100%;
    text-align: center;
    font-size: 25px;
    margin-top: 15px;
    margin-right: 10px;
    margin-left: 80px;
}
.main img{
    margin: auto;
    width: 100%;
}
.result{
    display: flex;
    flex-wrap: nowrap;
    line-height: 45px;
    flex-direction: column;
}
.congrats img#icon{
    width: 400px;
    height: 400px;
}
.text1{
    width: 175px;
    margin: auto;
    margin-left: 85px;
    margin-bottom: 0;   
}
.text1 p{
    background-color: purple;
    font-size: 14pt;
    font-family:"Cambria";
    border-radius:10px;
    font-weight: bold;
    color: white;
    box-shadow: 0 0.3px 0.3px 0.3px white;
    width: 210px;
    height: 45px;
}
#finalScore{
    width: 298px;
    height: 100px;
    border:3px solid black;
    background-color: whitesmoke;
    border-radius: 20px;
    margin: auto;
    margin-left: 30px;
    margin-top: 15px;
    padding: 10px;
    box-shadow: 1px 1px 1px 0 white;
}
p{
    font: italic 40pt bold;
    font-family:'Franklin Gothic Medium' ;
    margin-top:20px ;
}
.homelink{
    width: 65px;
    height: 65px;
    border-radius: 50% ; 
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    background-color: purple;
    margin: auto;
    margin-left: 160px;
}

.homelink img{
    width: 64%;
    height: 65%;
    margin-top: 6px;
    transform: scale(1);
} 
.homelink img:hover{
    width: 100%;
    height: 100%;
    background-color: red;
    border-radius: 50% ; 
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    margin: 0;
   
}  