body {
    color: rgb(38, 38, 38);
}

.choice-container {
    display: flex;
    margin-bottom: 0.8rem;
    width: 100px;
    border-radius: 4px;
    background: #ffc726;
    font-size: 3rem;
    min-width: 80rem;
}

.choice-container:hover {
    cursor: pointer;
    box-shadow: 0 0.4rem 1.4rem 0 rgb(219, 138, 15);
    transform: scale(1.02);
    transform: transform 1000ms;
}

.choice-prefix {
    padding: 2rem 2.5rem;
    color: black;
}

.choice-text {
    padding: 2rem;
    width: 100%;
}

.correct {
    background: linear-gradient(32deg, rgb(11, 245, 2) 0%, rgb(50, 250, 42) 100%);
}

.incorrect {
    background: linear-gradient(32deg, rgb(214, 0, 0) 0%, rgb(237, 0, 0) 100%);
}

#hud {
    display: flex;
    justify-content: space-between;
}

.hud-prefix {
    text-align: center;
    font-size: 2rem;
}

.hud-main-text {
    text-align: center;
}

#progressbar {
    width: 20rem;
    height: 3rem;
    border: 0.2rem solid rgb(0, 188, 0);
    margin-top: 2rem;
    border-radius: 50px;
    overflow: hidden;
}

#progressbarfull {
    height: 100%;
    background: rgb(0, 188, 0);
    width: 0%;
}

@media screen and (max-width: 760px) {
    .choice-container {
        min-width: 40rem;
    }
}