*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*Header*/
header{
    width: 100%;
	height: 20%;
    background-color: #97077b !important;
}

.fContainer {
        width: 100%;
    background-color: #97077b;
}

.navbar .brand-logo {
	float: 	left;
}

header .wrapper {
    display: flex;
    justify-content: left;
    align-items: center;
}

.navigation {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: unset;
    padding: unset;
}

.navigation li {
    list-style-type: none;
    padding: 15px;
}


.navigation .nama{
    position: relative;
    color: white;
    background-color:#97077b!important;
    font-size:120%;
    font-weight: bold;
    border: none;
    text-decoration: unset;

}

.navigation .nama::after {
    content: "";
    position: absolute;
    background-color: white !important;
    height: 3px;
    width: 0;
    left: 0;
    bottom: -10px;
}

.navigation .nama:hover:after{
    width: 100%;
}
 
/*ISI*/
.main-container{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 140vh;
    justify-content: center;
    align-items: center;
    background-color:#D9D9D9 ;
}

.main-container h1{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    font-weight: bold;
    font-family: 'Inter', sans-serif;
    margin: 5px auto;
    padding-top: 1.5%;
}

.container{
    width: 80%;
    height: 90%;
    display: grid;
    grid-template-columns: auto auto auto auto;
    background-color: #C78FBE !important;
}

.item {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5%;
    margin-top: 10%;
    margin-bottom: 10%;
    border-style: solid;
    border-width: 5px;
    border-radius: 5%;
    border-color: white;
    background-color: #eebe2e;
}

.item:nth-child(even){
    background-color: rgb(161, 19, 193);
}

.item img{
    display: flex;
    max-width: 100%;
}

.h{
    width:80% !important;
    height: 3px !important;
    border: 0 none !important;
    margin-right: auto !important;
    margin-left: auto !important;
    margin-top: 2px !important;
    margin-bottom: 3px !important;
}


/*footer*/
footer .fContainer {
    display: flex;
    text-align: center;
    justify-content: center;
    position: relative;
    width: 100%;
	height: 80px;
    background-color: #97077b;
}

footer p{
    color: white;
}
