.navbar {
    height: 113px;
}

.Gambar-Navbar {
    margin: 220%;
}

body {
    background-color: #d4d4d4;
    font-family: 'Inter', sans-serif;
    font-size: 28px;
}

.Logo {
    position: absolute;
    margin-left: 182px;
    margin-top: 14px;
}

.p1 {
    text-align: justify;
    width: 602px;
    height: 309px;
    margin-top: 70px;
    margin-left: 720px;
    margin-right: 118px;
}

.p2 {
    text-align: justify;
    width: 1256px;
    height: 404px;
    margin-top: 95px;
    margin-left: 118px;
    margin-right: 66px;
}